export ASC_ISSUER_ID="$(security find-generic-password -s asc-issuer-id -a minello -w)"
export ASC_KEY_ID="$(security find-generic-password -s asc-key-id -a minello -w)"
export TEAM_ID="$(security find-generic-password -s asc-team-id -a minello -w)"